h2 {
    text-align: center;
}
#game {
    width:  60%;
    margin: 1em auto;
}
.map {
    min-width:  380px;
    margin: 1em;
    padding:1em;
    /*float:  left;*/
}
.map,
.spawn {
    border: 2px solid #ddd;
    border-radius: 20px;
}
.spawn {
    width:  10em;
    height: 10em;
    text-align: center;
    vertical-align: middle;
}
.left {
    float:  left;
}
.middle {
    margin: 0 auto;
}
.right {
    float:  right;
}

.team1 {
    background-image: url("../img/german_flag.jpg")
}
.team2 {
    background-image: url("../img/queensland_flag.jpg")
}
#alert {
    display: none;
}