h2 {
    text-align: center;
}
#game {
    margin: 1em auto;
}
.spawn {
    width:  10em;
    height: 10em;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #ddd;
    border-radius: 20px;
}


.spawn.disabled {
    border: none;
}
.left {
    float:  left;
}
.middle {
    margin: 0 auto;
}
.right {
    float:  right;
}

.team1 {
    height: 68px;
    background-image: url("../img/queensland_flag.jpg")
}
.team2 {
    height: 68px;
    background-image: url("../img/german_flag.jpg")
}
.forbidden {
    background-image: url("../img/forbidden.png")
}
#alert,
#waitPanel {
    display: none;
}
#waitPanel {
    position: absolute;
    left:   34%;
    top:    34%;
}